.index{
    text-align: center;
}

/*the otis*/
.logo {
    margin: 10px;
    color: rgb(231, 225, 165);
    font-size: 30px;
    width: 100px;
}

/*แท็บบน*/
.navbar {
    background-color: rgba(87, 131, 91, 0.707);
    height: 100px;
}

/*nav-item*/
.nav-item {
    font-size: 35px;
}


/**/
.box{
    text-align: center;
    margin-top: 30px;
    padding: 50px;
    margin-top: 90px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.858) ,0 12px 16px 0 rgba(0, 0, 0, 0.333);
}
/**/
.title {
    height: auto;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    padding: 10px;
}

/**/
.texthead{
    color: rgb(45, 55, 42);
    font-size:40px;
}

/**/
.store1{
    font-size: 25px;
    margin: 30px;
    margin-top: -50px;
    padding: 10px;
}
.store2 {
    font-size: 25px;
    margin: 30px;
    padding: 10px;
}

/*btn*/
.button{
    margin-top: 150px;
    padding: 10px;
}


/*ส่วนท้าย*/
.footer {
    background-color: rgba(87, 131, 91, 0.707);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 20px;
    margin-top: 150px;
}