/*ภาพรวม*/
.Form {
    text-align: center;
    margin-top: 100px;
}
/*กรอบนอก*/
.form{
    background-color: rgb(209, 200, 138);
    padding: 30px;
    display: inline-block;
    width: 500px;
    height: 400px;
    border-radius: 45px;
    border: solid rgba(86, 111, 86, 0.812);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.501), 0 17px 50px 0 rgba(0, 0, 0, 0.392);
}

/*ช่อง*/
.email{
    margin-top: 40px;
    border-radius: 45px;
    box-shadow: 0 12px 16px 0 rgba(118, 103, 66, 0.501), 0 17px 50px 0 rgba(0, 0, 0, 0.392);
}

/*ช่อง*/
.pass{
    margin-top: 40px;
    border-radius: 45px;
    box-shadow: 0 12px 16px 0 rgba(118, 103, 66, 0.501), 0 17px 50px 0 rgba(0, 0, 0, 0.392);
}

/*ตัวหนังสือทุกอัน*/
.text{
    font-size: 25px;
    margin-top: -50px;
}

.button{
    margin-top: 70px;
    background-color: rgb(209, 200, 138);
    display: inline-block;
    border-radius: 7px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.501), 0 17px 50px 0 rgba(0, 0, 0, 0.392);
}
.B{
    color: black;
    text-decoration: none;
}

.back{
    margin-top: 70px;
    background-color: rgb(203, 218, 197);
    display: inline-block;
    border-radius: 7px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.501), 0 17px 50px 0 rgba(0, 0, 0, 0.392);
}

